body {
  background: lightblue;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: lightgreen;
    font-size: 40px;
  }
}

.chore-list-container, .done-chore-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chore-container {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  background: white;
}

.done-chore-list-container .chore-container {
  background: lightyellow;
}

.chore-container .name {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}

.chore-container .dismiss {
  font-size: 1em;
  text-transform: capitalize;
}

.undo-container {
  margin: 1em;
}