<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chore-izo</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
  <div class="weekday-chore-list-container">
    {% for chore in mustdo_chores%}
    <div class="chore-container">
        <div class="name">{{ chore.chore_name }}</div>
        <div class="description">{{ chore.description }}</div>
	      <div class="last-completed">Last completed: <span class="timestamp">{{ chore.last_completed }}</span></div>
        <div class="weekday">Weekday: {{ chore.weekday }}</div>
        <button class="dismiss" onclick="dismiss(`{{ chore.chore_name }}`)">dismiss</button>
    </div>
    {% endfor %}
  </div>
  <div class="chore-list-container">
    {% for chore in todo_chores %}
    <div class="chore-container">
        <div class="name">{{ chore.chore_name }}</div>
        <div class="description">{{ chore.description }}</div>
	      <div class="last-completed">Last completed: <span class="timestamp">{{ chore.last_completed }}</span></div>
        <div class="frequency">Frequency: {{ chore.frequency }}</div>
        <button class="dismiss" onclick="dismiss(`{{ chore.chore_name }}`)">dismiss</button>
    </div>
    {% endfor %}
  </div>
  <div class="done-chore-list-container">
    {% for chore in done_chores %}
    <div class="chore-container">
      <div class="name">{{ chore.chore_name }}</div>
      <div class="description">{{ chore.description }}</div>
      <div class="next-due-date">Next due date: <span class="timestamp">{{ chore.next_due_date }}</span></div>
      <div class="frequency">Frequency: {{ chore.frequency }}</div>
      <button class="dismiss" onclick="dismiss(`{{ chore.chore_name }}`)">dismiss</button>
    </div>
    {% endfor %}
  </div>
  <div class="undo-container">
    <button class="undo" onclick="undo()">Undo</button>
  </div>
  <script>
    function dismiss(choreName) {
      fetch(`/dismiss/${choreName}`)
      .then((res) => {
        location.reload();
      });
    }
    function undo() {
      fetch(`/undo`)
      .then((res) => {
        location.reload();
      });
    }

    for (let ts of document.querySelectorAll('.timestamp')) {
	    ts.innerHTML = (new Date(ts.innerHTML * 1000)).toDateString();
	}
  </script>
</body>
</html>
